packaging_format = 2

id = "opencloud"
name = "OpenCloud"
description.en = "Online storage, file sharing platform"
description.fr = "Stockage en ligne, plateforme de partage de fichiers"

version = "5.0.0~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "Apache-2.0"
website = "https://opencloud.eu/en"
code = "https://github.com/opencloud-eu/opencloud"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "100M"
ram.build = "250M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["cs", "de", "en", "es", "fr", "gl", "it"]
    default = "fr"

    [install.password]
    type = "password"

[resources]

    [resources.sources.main]
    extract = false
    rename = "opencloud"
    amd64.url = "https://github.com/opencloud-eu/opencloud/releases/download/v5.0.0/opencloud-5.0.0-linux-amd64"
    amd64.sha256 = "4c344aa77e53035c336b2b6013cf44189291c3297c723b51546789d227e08330"
    arm64.url = "https://github.com/opencloud-eu/opencloud/releases/download/v5.0.0/opencloud-5.0.0-linux-arm64"
    arm64.sha256 = "43a89e05a41616ac17afc6b5fb4d9e599d6c48907e29ec831229dd294eeb6a97"
    armhf.url = "https://github.com/opencloud-eu/opencloud/releases/download/v5.0.0/opencloud-5.0.0-linux-arm"
    armhf.sha256 = "d810e5e423c175f240335cbd8c37a976d44693a1aaeea37bb113ab0de21b99e7"
    i386.url = "https://github.com/opencloud-eu/opencloud/releases/download/v5.0.0/opencloud-5.0.0-linux-386"
    i386.sha256 = "b96b1512e59e762a9e911a2a0e8dde081ae3e4a0f43820d047f0e571428d94a7"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "^opencloud-.*-linux-amd64$"
    autoupdate.asset.arm64 = "^opencloud-.*-linux-arm64$"
    autoupdate.asset.armhf = "^opencloud-.*-linux-arm$"
    autoupdate.asset.i386 = "^opencloud-.*-linux-386$"

    [resources.sources.draw-io]
    url = "https://github.com/opencloud-eu/web-extensions/releases/download/draw-io-v1.0.1/draw-io-1.0.1.zip"
    sha256 = "afc556426202fe6d48a6d9152cce24f3343bff5919e653df7aa8eb749991e5a2"
    in_subdir = false
    autoupdate.strategy = "latest_github_release"
    autoupdate.upstream = "https://github.com/opencloud-eu/web-extensions"
    autoupdate.version_regex = "^draw-io-v(.*)$"
    autoupdate.asset = "^draw-io-.*.zip"

    [resources.sources.external-sites]
    url = "https://github.com/opencloud-eu/web-extensions/releases/download/external-sites-v1.3.0/external-sites-1.3.0.zip"
    sha256 = "1a1b7e38a6ce7099004dd0b0ad006fb337b5cd37950633a7cb667cbc60c4c2c5"
    in_subdir = false
    autoupdate.strategy = "latest_github_release"
    autoupdate.upstream = "https://github.com/opencloud-eu/web-extensions"
    autoupdate.version_regex = "^external-sites-v(.*)$"
    autoupdate.asset = "^external-sites-.*.zip"

    [resources.sources.unzip]
    url = "https://github.com/opencloud-eu/web-extensions/releases/download/unzip-v1.0.4/unzip-1.0.4.zip"
    sha256 = "f0ad50d8e5173f30d708d3f0c0854ea34245a967ddfd40e0dcb1b85834e8a304"
    in_subdir = false
    autoupdate.strategy = "latest_github_release"
    autoupdate.upstream = "https://github.com/opencloud-eu/web-extensions"
    autoupdate.version_regex = "^unzip-v(.*)$"
    autoupdate.asset = "^unzip-.*.zip"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    
    [resources.data_dir]
    subdirs = ["config", "idm", "idp", "nats", "proxy", "search", "storage"]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false
    api.url = "/api"
    api.auth_header = false
    api.show_tile = false
    api.protected= true
    api.allowed = ["visitors"]

    [resources.ports]
