packaging_format = 2

id = "opencloud"
name = "OpenCloud"
description.en = "Online storage, file sharing platform"
description.fr = "Stockage en ligne, plateforme de partage de fichiers"

version = "5.1.0~ynh2"

maintainers = ["eric_G"]

[upstream]
license = "Apache-2.0"
website = "https://opencloud.eu/en"
code = "https://github.com/opencloud-eu/opencloud"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "100M"
ram.build = "250M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["cs", "de", "en", "es", "fr", "gl", "it"]
    default = "fr"

    [install.password]
    type = "password"

[resources]

    [resources.sources.main]
    extract = false
    rename = "opencloud"
    amd64.url = "https://github.com/opencloud-eu/opencloud/releases/download/v5.1.0/opencloud-5.1.0-linux-amd64"
    amd64.sha256 = "6771214f48687e69e6e6e5b8c969ee8746e9573502af95e3c52881a5c9b789fd"
    arm64.url = "https://github.com/opencloud-eu/opencloud/releases/download/v5.1.0/opencloud-5.1.0-linux-arm64"
    arm64.sha256 = "341ed6c18c7e636da43adc4ec13e9315c71bed8fb2a3e4f5c05f816572ec9c61"
    armhf.url = "https://github.com/opencloud-eu/opencloud/releases/download/v5.1.0/opencloud-5.1.0-linux-arm"
    armhf.sha256 = "ce291b6ee60db74fc8d76628346954bfe1427fc8a830c02d33834c798538f9cc"
    i386.url = "https://github.com/opencloud-eu/opencloud/releases/download/v5.1.0/opencloud-5.1.0-linux-386"
    i386.sha256 = "6c7d7ed91339a94dc831a3e9a7ada53b91b2122e549aa0caa33f801eb87e2666"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "^opencloud-.*-linux-amd64$"
    autoupdate.asset.arm64 = "^opencloud-.*-linux-arm64$"
    autoupdate.asset.armhf = "^opencloud-.*-linux-arm$"
    autoupdate.asset.i386 = "^opencloud-.*-linux-386$"

    [resources.sources.draw-io]
    url = "https://github.com/opencloud-eu/web-extensions/releases/download/draw-io-v1.0.1/draw-io-1.0.1.zip"
    sha256 = "afc556426202fe6d48a6d9152cce24f3343bff5919e653df7aa8eb749991e5a2"
    in_subdir = false
    autoupdate.strategy = "latest_github_release"
    autoupdate.upstream = "https://github.com/opencloud-eu/web-extensions"
    autoupdate.version_regex = "^draw-io-v(.*)$"
    autoupdate.asset = "^draw-io-.*.zip"

    [resources.sources.external-sites]
    url = "https://github.com/opencloud-eu/web-extensions/releases/download/external-sites-v1.3.0/external-sites-1.3.0.zip"
    sha256 = "1a1b7e38a6ce7099004dd0b0ad006fb337b5cd37950633a7cb667cbc60c4c2c5"
    in_subdir = false
    autoupdate.strategy = "latest_github_release"
    autoupdate.upstream = "https://github.com/opencloud-eu/web-extensions"
    autoupdate.version_regex = "^external-sites-v(.*)$"
    autoupdate.asset = "^external-sites-.*.zip"

    [resources.sources.unzip]
    url = "https://github.com/opencloud-eu/web-extensions/releases/download/unzip-v1.0.4/unzip-1.0.4.zip"
    sha256 = "f0ad50d8e5173f30d708d3f0c0854ea34245a967ddfd40e0dcb1b85834e8a304"
    in_subdir = false
    autoupdate.strategy = "latest_github_release"
    autoupdate.upstream = "https://github.com/opencloud-eu/web-extensions"
    autoupdate.version_regex = "^unzip-v(.*)$"
    autoupdate.asset = "^unzip-.*.zip"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    
    [resources.data_dir]
    subdirs = ["config", "idm", "idp", "nats", "proxy", "search", "storage"]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false
    api.url = "/api"
    api.auth_header = false
    api.show_tile = false
    api.protected= true
    api.allowed = ["visitors"]

    [resources.ports]
