packaging_format = 2

id = "opencloud"
name = "OpenCloud"
description.en = "Online storage, file sharing platform"
description.fr = "Stockage en ligne, plateforme de partage de fichiers"

version = "4.0.0~ynh1"

maintainers = ["eric_G"]

[upstream]
license = "Apache-2.0"
website = "https://opencloud.eu/en"
code = "https://github.com/opencloud-eu/opencloud"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "100M"
ram.build = "250M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["cs", "de", "en", "es", "fr", "gl", "it"]
    default = "fr"

    [install.password]
    type = "password"

[resources]

    [resources.sources.main]
    extract = false
    rename = "opencloud"
    amd64.url = "https://github.com/opencloud-eu/opencloud/releases/download/v4.0.0/opencloud-4.0.0-linux-amd64"
    amd64.sha256 = "30638b9c5b51e34212c7079abc565003889a1f19bd1e3cdd7782866e5776202c"
    arm64.url = "https://github.com/opencloud-eu/opencloud/releases/download/v4.0.0/opencloud-4.0.0-linux-arm64"
    arm64.sha256 = "9bb033a4009b79b4656055e6a482c9f0e9961bd1df4aacfb4e16e8219269abcf"
    armhf.url = "https://github.com/opencloud-eu/opencloud/releases/download/v4.0.0/opencloud-4.0.0-linux-arm"
    armhf.sha256 = "f0af8516e9ae78f8cecaa0deaf50601c0ffd56665a5436758a0ef5385685abb3"
    i386.url = "https://github.com/opencloud-eu/opencloud/releases/download/v4.0.0/opencloud-4.0.0-linux-386"
    i386.sha256 = "df6646b1a4528a70b9e9eaf071c7177a0dfdb3b06eb094d819bb268720ab27b8"

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "^opencloud-.*-linux-amd64$"
    autoupdate.asset.arm64 = "^opencloud-.*-linux-arm64$"
    autoupdate.asset.armhf = "^opencloud-.*-linux-arm$"
    autoupdate.asset.i386 = "^opencloud-.*-linux-386$"

    [resources.sources.draw-io]
    url = "https://github.com/opencloud-eu/web-extensions/releases/download/draw-io-v1.0.1/draw-io-1.0.1.zip"
    sha256 = "afc556426202fe6d48a6d9152cce24f3343bff5919e653df7aa8eb749991e5a2"
    in_subdir = false
    autoupdate.strategy = "latest_github_release"
    autoupdate.upstream = "https://github.com/opencloud-eu/web-extensions"
    autoupdate.version_regex = "^draw-io-v(.*)$"
    autoupdate.asset = "^draw-io-.*.zip"

    [resources.sources.external-sites]
    url = "https://github.com/opencloud-eu/web-extensions/releases/download/external-sites-v1.3.0/external-sites-1.3.0.zip"
    sha256 = "1a1b7e38a6ce7099004dd0b0ad006fb337b5cd37950633a7cb667cbc60c4c2c5"
    in_subdir = false
    autoupdate.strategy = "latest_github_release"
    autoupdate.upstream = "https://github.com/opencloud-eu/web-extensions"
    autoupdate.version_regex = "^external-sites-v(.*)$"
    autoupdate.asset = "^external-sites-.*.zip"

    [resources.sources.unzip]
    url = "https://github.com/opencloud-eu/web-extensions/releases/download/unzip-v1.0.4/unzip-1.0.4.zip"
    sha256 = "f0ad50d8e5173f30d708d3f0c0854ea34245a967ddfd40e0dcb1b85834e8a304"
    in_subdir = false
    autoupdate.strategy = "latest_github_release"
    autoupdate.upstream = "https://github.com/opencloud-eu/web-extensions"
    autoupdate.version_regex = "^unzip-v(.*)$"
    autoupdate.asset = "^unzip-.*.zip"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    
    [resources.data_dir]
    subdirs = ["config", "idm", "idp", "nats", "proxy", "search", "storage"]

    [resources.permissions]
    main.url = "/"
    main.auth_header = false
    api.url = "/api"
    api.auth_header = false
    api.show_tile = false
    api.protected= true
    api.allowed = ["visitors"]

    [resources.ports]

    [resources.apt]
    packages = "inotify-tools"
